nav.transparent{
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  background-color: rgba(0,0,0,0);
}

nav.colored{
  background-color: #20c997;
}

div.headroom-wrapper{
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 2 !important;
}

.navbar{
  color: white !important;
}

.navbar-text{
  color: white !important;
}

.nav-link{
  color: white !important;
}

.navbar-brand{
  color: white !important;
}

.pic {
  background: url('./imgs/snowy_trees.jpg') repeat scroll center center/cover;
  height: 100vh !important;
  width: 100%;
  position: relative;
}

#instructions {
	position: absolute;
	color: #fff;
	bottom: 0;
	padding-bottom: 6px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	pointer-events: none;
}